/* src/assets/css/footer.css */
:root {
    --background-primary: #f8f8ff;
    --primary-text: #7e8aa1;
    --text-hover: #ffdac1;
}

.footer-section {
    margin-top: 15px;
    position: fixed;
}

.footer-text {
    color: var(--primary-text);
}

.footer-img {
    max-width: 50px;
    margin: 5px 5px 5px 5px;
}