/* src/assets/css/header.css */
:root {
    --background-primary: #f8f8ff;
    --primary-text: #7e8aa1;
    --text-hover: #ffdac1;
}

.header-box{
    background-color: var(--background-primary);
    border-bottom: 10px solid var(--text-hover);
}

.header-title-link{
    background-color: var(--background-primary);
    color: var(--primary-text);
    text-decoration: none;
    font-size: 42px;
}

.header-title-link:hover {
    color: var(--text-hover);
}

.wolf-logo{
    background-color: var(--background-primary);
    width: 144px;
}

@media only screen and (max-width: 780px) {
    
    .header-title-link {
        font-size: 29px;
    }
}

@media screen and (max-width: 550px) {

    .header-title-link{
        font-size: 18px;
        font-weight: bolder;
    }

    .wolf-logo{
        width: 86px;
    }

}