/* src/assets/css/project.css */
:root {
    --background-primary: #f8f8ff;
    --background-sec: #9c9da8;
    --primary-text: #7e8aa1;
    --text-hover: #ffdac1;
}

.card {
    background-color: var(--background-sec);
    margin: 10px;
    max-width: 600px;
}

.card-body {
    background-color: var(--background-sec);
}

.project-page-title {
    color: var(--primary-text);
    margin-top: 125px;
    text-decoration: var(--text-hover) dotted underline;
}

.project-page-desc {
    color: var(--primary-text);
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-div {
    background-color: var(--background-sec);
}

.project-title {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--text-hover);
}

.project-text {
    color: var(--text-hover);
    padding: 10px;
    background-color: var(--background-sec);
    margin-bottom: 50px;
    margin-top: 30px;
}

.project-image {
    border: 10px solid var(--background-sec) ;
}

.gitimg {
    background-color: var(--background-sec);
    max-width: 40px;
    padding-left: 10px;
}